@model IndexViewModel


@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This Blog site have everything";
    ViewBag.Keywords = "blog programing travel photography";
}

<div class="main-img">
    <span class="title"> Amazing Blog Site</span>
    <form asp-action="Index" asp-controller="Home" method="post">
        <input type="hidden" name="category" value="@Model.Category" />
        <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
        <input class="search" placeholder="Search Blog" type="text" name="search" value="@Model.Search" />
        <button class="submit-btn">Search</button>
    </form>
</div>

<div class="container">
    @*<ul>
            @foreach (var post in Model)
            {
                <li>
                    <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">@post.Title</a>
                </li>
            }
        </ul>*@
    @foreach (var post in Model.Posts)
    {
        var base_path = Context.Request.PathBase;
        var image_path = $"{base_path}/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path" width="500" />
            <span class="title-post">
                @post.Title
            </span>
        </a>
    }

    <partial name="_BlogPagination" model="Model"/>
</div>